{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1 class="pt-3 mb-5">Liste des catégories</h1>
    {% for categorie in categories | sort %}

    <div class="row">
        <div class="col d-flex justify-content-start mb-2">
            <h1>{{ categorie.titre }} ( {{ categorie.articles | length }} articles )</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-success " href="{{ path('app_categorie_slug', {'slug': categorie.slug}) }}">voir</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}
